.dropdown {
    position: relative;
    display: inline-block;
    width: max-content;
}

    .dropdown ul {
        display: none;
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        list-style: none;
        padding: 10px;
        margin: 0;
    }

    .dropdown:hover ul {
        display: block;
    }

    .dropdown li {
        padding: 8px 12px;
        cursor: pointer;
    }
